body{
    background-color: beige;
    }
    
h1{
    color: green;
}
div{
    padding: 5px;
}

h2{
    color:skyblue;
}
table,th,td{
    border: 1px solid black;
}
.btn{
    background-color: rgb(36, 96, 151);
    color: white;
}
.flex{
    display:flex;
}

